body{
	background-image: url('../img/bg.jpg');
	margin:0;
	padding:0;
}

/*--------- nav bar begin---------- */



.fa {
position: relative;
display: table-cell;
width: 30px;
height: 36px;
text-align: left;
vertical-align: middle;


}


.main-menu:hover,nav.main-menu.expanded {

width:130px;
overflow:visible;
text-align:left;
vertical-align:middle;

}

.main-menu {
background:#212121;
border-right:1px solid #e5e5e5;
position:absolute;
top:0;
bottom:0;
height:100%;
left:0;
width:40px;
overflow:hidden;
-webkit-transition:width .05s linear;
transition:width .05s linear;

z-index:1000;
}

.main-menu>ul {
margin:7px 0;
}

.main-menu li {
position:relative;
display:block;
width:130px;
}

.main-menu li>a {
position:relative;
display:table;
border-collapse:collapse;
border-spacing:0;
color:#999;
 font-family: arial;
font-size: 14px;
text-decoration:none;
-webkit-transition:all .1s linear;
transition:all .1s linear;
  
}

.main-menu .nav-icon {
position:relative;
display:table-cell;
width:60px;
height:36px;
text-align:left;
vertical-align:middle;
font-size:18px;
}

.main-menu .nav-text {
position:relative;
display:table-cell;
vertical-align:middle;
width:130px;
font-family: 'Titillium Web', sans-serif;
text-align: left;
margin-left: 0px;
}

.no-touch .scrollable.hover {
overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
overflow-y:auto;
overflow:visible;
}

a:hover,a:focus {
text-decoration:none;
}

nav {
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;
}

nav ul,nav li {
outline:0;
margin:0;
padding:0;
margin-left: left 10px;
}
.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
color:#fff;
background-color:#5fa2db;
}
.area {
float: left;
background: #e2e2e2;
width: 100%;
height: 100%;
}
i.fa.fa-book{
margin-left: 10px;
font-size:22px;
align-items: left;
text-align: left;
}
i.fa.fa-home{
padding-bottom: 100px;
font-size:35px;
align-items: center;
text-align: center;
margin-left: 5px;

} 



/*------------------Nav bar ends----------------------*/



*{
	box-sizing: border-box;
	font-family: sans-serif;
}

h1{
	text-align: center;
	color: #ffffff;
	margin:10px 0px 10px;
}
h3{
	text-align: center;
	color: #ffffff;
	margin:10px 0px ;
}

.quiz_wrapper{
	height: 470px;
	width: 800px;
	background-color: rgba(255, 255, 255, 0.823);
	margin:10px auto;
	border-radius: 8px;
	padding: 20px;
	display: grid;
}

.quiz_wrapper .question{
	padding: 15px;
	background-color:#673ab7;
	border-radius: 8px;
	color:#ffffff;
	font-size:20px;
	float: left;
	width: 100%;

}
.quiz_wrapper .options{
	float: left;
	width: 100%;
}

.quiz_wrapper .options ul{
	list-style: none;
	padding: 0px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.quiz_wrapper .options ul li{
	display: inline-block;
	background-color:#777;
	width: 47%;
	padding: 15px;
	border-radius:8px;
	margin-top: 25px;
	font-size: 15px;
	color:#ffffff;
	box-shadow: 0px 3px 0px grey;
	cursor: pointer;
	outline: none;
	text-align: center;
}
.quiz_wrapper .options ul li:active{
	box-shadow: 0px 3px 0px transparent;	

}
.quiz_wrapper .options ul li.correct{
	background-color: #0fd40f;
	box-shadow: 0px 3px 0px #03a503;
}

.quiz_wrapper .options ul li.wrong{
	background-color: #e91e1e;
	box-shadow: 0px 3px 0px #cb0b0b;
}

.quiz_wrapper .score{
	float: left;
	width: 100%;
	display: flex;
}

button#button.next{
	
	height: auto;
	width: 190px;
	padding: 15px ;
	color:white;
	background-color:#e4ab10bd;
	border:none;
	border-radius:8px;
	font-size: 15px;
	float: right;
	display: flex;
	align-items: center;
}
.quiz_wrapper .score .next button:active{
box-shadow: 0px 3px 0px transparent;	
}

button.refresh{
	height: 40px;
	width: 190px;
	margin-top: 10px;
	color:white;
	background-color:#68e410bd;
	border:none;
	border-radius:8px;
	font-size: 15px;
	float: right;
	display: flex;
	align-items: center;
	
	
	
}
i.fa.fa-refresh{
	font-size: 25px;
	margin-left: 15px ;	
	float: right;
	display: flex;
	align-items: center;
	}

.quiz_wrapper .score .score-card{
	margin: 0;
	width: 60%;
	
	
}
.quiz_wrapper .score .score-card{
	font-size: 20px;
	color:black;
	line-height: 50px;
	text-transform: uppercase;
}
.quiz_wrapper .score .score-card span{
	background-color: #4caf50;
	padding: 2.5px 10px;
	color:#ffffff;
}



@media screen and (min-width: 500px) {
	body{
		background-image: url('../img/bg.jpg');
		margin:0;
		padding:0;
		
		}
	.main-menu{
		display: none;
		visibility: hidden;
	}
	.quiz_wrapper{
		height: 1100px;
		width: 800px;
		background-color: rgba(255, 255, 255, 0.823);
		margin:10px auto;
		border-radius: 8px;
		padding: 20px;	
		
	}
	
	.quiz_wrapper .options ul{
		list-style: none;
		padding: 0px;		
		justify-content: space-between;	
	}

	
	.quiz_wrapper .options ul li{
		
		background-color:#777;
		width: 100%;
		padding: 15px;
		border-radius:8px;
		margin-top: 35px;
		font-size: 35px;
		color:#ffffff;
		box-shadow: 0px 3px 0px grey;
		cursor: pointer;
		outline: none;
		text-align: center;
	}

	.quiz_wrapper .question{
		padding: 15px;
		background-color:#673ab7;
		border-radius: 8px;
		color:#ffffff;
		font-size:40px;
		float: left;
		width: 100%;	
	}
	.quiz_wrapper .score .score-card{
		margin: 0;
		width: 60%;
	}
	.quiz_wrapper .score .score-card{
		font-size: 35px;
		color:black;
		line-height: 50px;
		text-transform: uppercase;
	}
	button#button.next{
	
		height: auto;
		width: 190px;
		padding: 15px ;
		color:white;
		background-color:#e4ab10bd;
		border:none;
		border-radius:8px;
		font-size: 35px;
		float: right;
		display: flex;
		align-items: center;
	}
	button.refresh{
		height: 90px;
		width: 190px;
		margin-top: 10px;
		color:white;
		background-color:#68e410bd;
		border:none;
		border-radius:8px;
		font-size: 35px;
		float: right;
		display: flex;
		align-items: center;
			
	}
	i.fa.fa-refresh{
		font-size: 35px;
		margin-left: 15px ;	
		float: right;
		display: flex;
		align-items: center;
		}

}